In [2]:
from sqlalchemy import create_engine
import pymysql 
import pandas as pd 
engine = create_engine('mysql+pymysql://root:12345678@localhost:3306/data_analysis_stack_exchange_movies', echo=False)
table_info = pd.read_sql('show tables', engine)
table_info

  Tables_in_data_analysis_stack_exchange_movies
0                                      Comments
1                                         posts
2                                         Users
3                                         Votes

1. Display the number of votes for each post title

In [4]:
df_number_votes_each_post = pd.read_sql("select p.Title, count(*) 'Number of Votes' from Votes v inner join posts p on v.PostId = p.Id group by v.PostId ", engine)
df_number_votes_each_post

                                                 Title  Number of Votes
0    To what extent were the actors in Wedding Cras...               14
1        Evaluating characters by means of description               10
2    Was the original "Pink Panther" movie intended...                9
3       What does the ending of The Tree of Life mean?               18
4    In The Departed, did the FBI know about the mo...               25
..                                                 ...              ...
567  Why do the robots believe eating Casshern will...                4
568                    How old is Andy in Toy Story 2?                1
569  Does Elastigirl leave her baby in the car by h...                3
570  What is the first movie to show slicing throug...                2
571  What does David pick up off the floor early in...                1

[572 rows x 2 columns]

2. Display posts with comments created by users living in the same location as the post creator

3. How many users have never voted ?

4. Display all posts having the highest amount of comments

5. For each post, how many votes are coming from users living in Canada ? What’s their percentage of the total number of votes

6. How many hours in average, it takes to the first comment to be posted after a creation of a new post

7. Whats the most common post tag ?

8. Create a pivot table displaying how many posts were created for each year (Y axis) and each month (X axis)